<form name="form" novalidate>
  <pre>{{language_pair}}</pre>
  <br>
  <select ng-model="language_pair"
          required
          ng-options="dict_name as dict_name for (dict_name, _) in data.dicts">
  </select>
  <br>
  <input type="text" ng-model="left_lang" placeholder="language" required></input>
  <input type="text" ng-model="right_lang" placeholder="language" required></input>
  <!-- <button ng-click="add(q_to_add, a_to_add)" ng-disabled="form.$invalid">add dictionary</button> -->
</form>
<hr>
{{q_to_add | json}}, {{a_to_add | json}}
<br>
<form name="form" novalidate>
  <input type="text" ng-model="q_to_add" placeholder="{{left_lang}}" required></input>
  <input type="text" ng-model="a_to_add" placeholder="{{right_lang}}" required></input>
  <button ng-click="add(q_to_add, a_to_add)" ng-disabled="form.$invalid">add</button>
</form>
{{data.dicts}}
<div ng-repeat="(dict_name, dict) in data.dicts"
     ng-if="dict_name == left_lang + '-' + right_lang
         || dict_name == right_lang + '-' + left_lang">
  <h3>{{dict_name}}</h3>
  <ul>
    <li ng-repeat="(question, answers) in dict.words">
      {{question}}
      <ul>
        <li ng-repeat="(answer, details) in answers">
          {{answer}}
          <button ng-click="delete(dict_name, question, answer)">delete</button>
        </li>
      </ul>
    </li>
  </ul>
</div>
