<form name="form" novalidate>
  <pre>{{lang_pair}}</pre>
  <br>
  <select ng-model="lang_pair"
          required
          ng-options="dict_name as dict_name for (dict_name, _) in data.dicts">
  </select>
  <br>
  <input type="text" ng-model="left_lang" placeholder="language" required></input>
  <input type="text" ng-model="right_lang" placeholder="language" required></input>
  <button
    ng-click="addDict(left_lang, right_lang)"
    ng-disabled="!canAddDict(left_lang, right_lang)">
    Create {{left_lang}}->{{right_lang}} dict
  </button>
  <button
    ng-click="addDict(right_lang, left_lang)"
    ng-disabled="!canAddDict(right_lang, left_lang)">
    Create {{right_lang}}->{{left_lang}} dict
  </button>
</form>
<hr>
{{left_word | json}}, {{right_word | json}}
<br>
<form name="form" novalidate>
  <input type="text" ng-model="left_word" placeholder="{{left_lang}}" required></input>
  <input type="text" ng-model="right_word" placeholder="{{right_lang}}" required></input>
  <button
    ng-click="addWord(left_lang, right_lang, left_word, right_word)"
    ng-disabled="form.$invalid ||
      !canAddWord(left_lang, right_lang, left_word, right_word)">
    add -&gt;
  </button>
  <button
    ng-click="addWord(right_lang, left_lang, right_word, left_word)"
    ng-disabled="form.$invalid ||
      !canAddWord(right_lang, left_lang, right_word, left_word)">
    add &lt;-
  </button>
</form>
{{data.dicts}}
<div ng-repeat="(dict_name, dict) in data.dicts"
     ng-if="dict_name == left_lang + '-' + right_lang
         || dict_name == right_lang + '-' + left_lang">
  <h3>{{dict_name}}</h3>
  <ul>
    <li ng-repeat="(question, answers) in dict.words">
      {{question}}
      <ul>
        <li ng-repeat="(answer, details) in answers">
          {{answer}}
          <button ng-click="delete(dict_name, question, answer)">delete</button>
        </li>
      </ul>
    </li>
  </ul>
</div>
