<html ng-app="flaspr">
  <head>
    <meta name="google" value="notranslate"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js"></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
    <script src='utils.js'></script>
    <script src='script.js'></script>
    <script src='ask.js'></script>
    <script src='dicts.js'></script>
  </head>

  <body ng-controller="RootController">
    <span ng-show="auth">
      {{auth.username}} | <a ng-click="logout()" href="">Logout</a>
    </span>
    <span ng-hide="auth"><a ng-click="login()" href="">Login</a></span>
    <hr>
    Links:
    <a href="#dicts">dicts</a> |
    <a href="#ask">ask</a>
    <hr>
    <div ng-view ng-show="data"></div>
  </body>
</html>
